h1{
	padding-top: 50px;
	text-align: center;
}
.row{
	margin-bottom:15px;
	padding-top:50px;
	padding-left: 25px;
	padding-right: 25px;


}
.row > div{
	border:1px solid red;
	border-collapse: 25px;
	background-color: gray;
}
#Name{
	background-color: yellow;
	border:1px solid black;
	clear:left;
}
#blak{
	background-color: pink;
	border:1px solid black;
}
#clak{
	background-color: red;
	border:1px solid black;
}
.col-lg-2{
	float: right;
	clear: left;
}
.col-lg-4{
	margin-right: 15px;
	width: 32%;
	clear:right;
}
@media screen (min-width: 600px) and (max-width: 992px)
{
.col-sm-6{
	margin-bottom:25px;
	margin-top:25px;
}
}

@media screen and (max-width: 600px)
{
.col-xs-12{
	width: 100%;
	margin-bottom:25px;
}
}
